{% extends 'base.html.twig' %}

{% block title %}Partenaires{% endblock %}

{% block body %}
{% include('_navbar.html.twig') %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-5">Liste des partenaires</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Address</th>
                    <th>Active</th>
                    <th>Description</th>
                    <th>SellFood</th>
                    <th>SellDrink</th>
                    <th>SendNewsletter</th>
                    <th>ScheduleManagement</th>
                    <th>PrivateLesson</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for partner in partners %}
                <tr>
                    <td>{{ partner.id }}</td>
                    <td>{{ partner.name }}</td>
                    <td>{{ partner.email }}</td>
                    <td>{{ partner.password }}</td>
                    <td>{{ partner.address }}</td>
                    <td>{{ partner.active ? 'Yes' : 'No' }}</td>
                    <td>{{ partner.description }}</td>
                    <td>{{ partner.sellFood ? 'Yes' : 'No' }}</td>
                    <td>{{ partner.sellDrink ? 'Yes' : 'No' }}</td>
                    <td>{{ partner.sendNewsletter ? 'Yes' : 'No' }}</td>
                    <td>{{ partner.scheduleManagement ? 'Yes' : 'No' }}</td>
                    <td>{{ partner.privateLesson ? 'Yes' : 'No' }}</td>
                    <td>
                        <a href="{{ path('app_partner_show', {'id': partner.id}) }}">Voir</a>
                        <a href="{{ path('app_partner_edit', {'id': partner.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="m-5">
            <a href="{{ path('app_partner_new') }}" class="btn btn-outline-primary">Créer un nouveau partenaire</a>
        </div>
    </div>
{% endblock %}
