{% extends 'base.html.twig' %}

{% block title %}Détails partenaire{% endblock %}

{% block body %}
{% include ('_navbar.html.twig') %}
<div class="mainContainer">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header text-center mb-5 mt-2">Détails de {{ partner.id }} - {{ partner.name }}</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div class="row row-cols-12 row-cols-lg-3 d-flex justify-content-around partnerDetails">
                <div class="mt-3">
                    <h2 class="mb-3">Identité du partenaire</h2>
                    <p><strong>Email:</strong> {{ partner.email }}</p>
                    <p><strong>Adresse:</strong> {{ partner.address }}</p>
                    <p><strong>Description:</strong> {{ partner.description }}</p>
                    <p><strong>Actif:</strong> {{ partner.active ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</p>
                </div>
                <div class="mt-5">
                    <h2 class="mb-3">Permissions du partenaire</h2>
                    <p><strong>Vente de nourriture:</strong> {{ partner.sellFood ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</p>
                    <p><strong>Vente de boisson:</strong> {{ partner.sellDrink ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</p>
                    <p><strong>Envoi de newsletter:</strong> {{ partner.sendNewsletter ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</p>
                    <p><strong>Gestion planning:</strong> {{ partner.scheduleManagement ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</p>
                    <p><strong>Cours particuliers:</strong> {{ partner.privateLesson ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</p>
                </div>
            </div>
        </div>
        {# </div> #}
        <div class="ms-5 mt-5">
            <a href="{{ path('app_partner_index') }}" class="btn btn-outline-success mb-2">Retour à la liste</a>
            <br>
            <a href="{{ path('app_partner_edit', {'id': partner.id}) }}" class="btn btn-outline-primary">Modifier</a>

        {{ include('partner/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
