{% extends 'base.html.twig' %}

{% block title %}Détails partenaire{% endblock %}

{% block body %}

{% for partner in partners %}
    {% if partner.id is same as app.user.id %}
        <div class="containe user">
            <div class="row">
                <div class="col-lg-12 user__title">
                    <h1 class="page-header text-center mt-5 mb-3">{{ partner.name }}</h1>
                </div>
                <div class="d-flex justify-content-center user__btn">
                    <button class="btn btn-outline-primary user__btn--btn">     
                        <a href="{{ path('app_logout') }}">
                            <i class="fa-solid fa-power-off fa-2x user__btn--icon" title="Déconnexion"></i>
                        </a>
                    </button>
                </div>
            </div>
        </div>

        <div class="container">
            <section>
                <p>
                    <p class="mb-4">Bonjour {{ partner.name }},</p>
                    <p>Retrouvez ici vos informations personnelles.</p>
                </p>
                <div>
                    <p>Votre email de contact: {{ partner.email }}</p>
                    <p>Votre addresse: {{ partner.address | capitalize }}</p>
                </div>
                <div>
                    <a href="{{ path('app_partner_new_password', {'id': partner.id}) }}">Modifier</a>
                    mon mot de passe
                </div>
            </section>

            <section class="mt-5">
                <h2>Vos permissions</h2>
                <ul>
                    <li>Compte actif: {{ partner.active ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                    <li>Vendre de la nourriture: {{ partner.sellFood ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                    <li>Vendre de la nourriture: {{ partner.sellDrink ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                    <li>Envoyer des newsletters: {{ partner.sendNewsletter ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                    <li>Utiliser le gestionnaire de planning: {{ partner.scheduleManagement ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                    <li>Proposer des cours particuliers: {{ partner.privateLesson ? '<i class="fa-solid fa-check check fa-2x"></i>' : '<i class="fa-solid fa-circle-xmark uncheck fa-2x"></i>' }}</li>
                </ul>
            </section>
        </div>

    {% endif %}


    
{% endfor %}

{% endblock %}
