{% extends 'base.html.twig' %}

{% block title %}Recherche{% endblock %}

{% block body %}

<div class="container">
{% if is_granted('ROLE_ADMIN') %}
    {{ include('_navbar.html.twig') }}
{% endif %}

    <h1 class="text-center mt-3 mb-5">Recherche</h1>

{% if is_granted('ROLE_STRUCTURE') %}
    <button class="btn btn-outline-primary" title="Mon compte">
        <a href="{{ path('app_structure_consult') }}">
            <i class="fa-solid fa-chevron-left btnBack"></i>
        </a>
    </button>
{% endif %}

{% if is_granted('ROLE_PARTNER') %}
    <button class="btn btn-outline-primary" title="Mon compte">
        <a href="{{ path('app_partner_consult') }}">
            <i class="fa-solid fa-chevron-left btnBack"></i>
        </a>
    </button>
{% endif %}


    <section class="mainContainer">
        <div class="mainContainer__search mt-5">
            <p>Vous pouvez effectuer une recherche sur l'ensemble des partenaires et structures du groupe SportClub:</p>           
            <form action="" class="d-flex justify-content-center mt-5">
                <input class="mainContainer__search--searchBar" name="search" id="search" type="text" placeholder="Saisissez votre recherche">
                <button class="mainContainer__search--searchBtn" type="submit" id="go">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </div>

        <div class="mt-5">
        {% if is_granted('ROLE_ADMIN') %}
            {% if search %}
                {% for partnersSearch in partnersSearches %}
                    <h4>Nom partenaire: {{ partnersSearch.name }}</h4>
                        <p>
                            <b>Description:</b> {{ partnersSearch.description }}
                            <a href="{{ path('app_partner_show', {'id': partnersSearch.id}) }}" class="ms-5">Détails du partenaire</a>
                        </p>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <p>Aucun résultat ne correspond à votre recherche.</p>
                        </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_PARTNER') %}
            {% if search %}
                {% for partnersSearch in partnersSearches %}
                    <h4>Nom partenaire: {{ partnersSearch.name }}</h4>
                        <p>
                            <b>Description:</b> {{ partnersSearch.description }}
                            <a href="{{ path('app_partner_consult_show', {'id': partnersSearch.id}) }}" class="ms-5">Détails du partenaire</a>
                        </p>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <p>Aucun résultat ne correspond à votre recherche.</p>
                        </div>
                {% endfor %}
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_STRUCTURE') %}
            {% if search %}
                {% for partnersSearch in partnersSearches %}
                    <h4>Nom partenaire: {{ partnersSearch.name }}</h4>
                        <p>
                            <b>Description:</b> {{ partnersSearch.description }}
                            <a href="{{ path('app_structure_consult_show', {'id': partnersSearch.id}) }}" class="ms-5">Détails du partenaire</a>
                        </p>
                    {% else %}
                        <div class="d-flex justify-content-center">
                            <p>Aucun résultat ne correspond à votre recherche.</p>
                        </div>
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
    </section>
    
</div>
{% endblock %}
